 html{
    width:100%;
    height:100%;
    font-family:"Microsoft YaHei";
}       
body{
    width:100%;
    height:100%;
    overflow:hidden;
}
.img-holder{
    width:100%;
    height:100%;
}
.panel{
    position:absolute;
    width:314px; 
    height:240px;
    top:365px;
    left:calc( 50% - 157px );
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.info-holder{
    width:100%;
    height:120px;
    border-radius:20px;
    background:rgba(255,255,255,0.4);
    box-shadow:5px 5px 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    padding:15px 20px;
    box-sizing: border-box;
}
.btnn{
    width:100%;
    height:30px;
    border-radius:12px;
    background:white;
    border:0;
    font-size:18px;
    line-height:30px;
    color:dimgray;
    background:rgba(255,255,255,0.4);
    box-shadow:5px 5px 5px rgba(0,0,0,0.2);
    font-weight: lighter;
}
a{
    text-decoration: none;
    color:inherit;
    text-align:center;
}
.input-holder{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height:28px;
    line-height: 28px;
    font-size: 18px;
    font-weight: lighter;	
}
input{
    width: 65%;
    border:1px solid antiquewhite;
    border-radius: 2px;
    background: transparent;
}
.notice-holder{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content:space-between; 
}
.notice-holder a{
    color:grey;
    font-weight: lighter;
}

