<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>请回答2017</title>
<link rel="stylesheet" href="http://localhost:8080/answer/resources/css/reset.css">
<link rel="stylesheet" href="http://localhost:8080/answer/resources/css/bootstrap.min.css">
<link rel="stylesheet" href="http://localhost:8080/answer/resources/css/adminpage.css">
<script type="text/javascript" src="http://localhost:8080/answer/resources/script/jquery-3.2.1.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="nav-head m">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="logo" href=""> <img src="http://localhost:8080/answer/resources/img/common/logo.png">
				</a> <a class="navbar-brand" href="#">GHY.CN</a>
			</div>
		</div>
	</nav>

	<div class="img-holder">
		<a href="answer-mobile.html" class="jump">
			<p>手机用户点我点我</p>
		</a>
	</div>

		<div class="content-holder">
			<div class="instruction-holder">
				<div class="brief-title">
					<img src="http://localhost:8080/answer/resources/img/common/answer.png"> 题库！
				</div>
			</div>
			<div class="problem-holder">
				<div class="problem-list">
					<div class="problem-item">
						<div class="problem-info category">类型</div>
						<div class="problem-info discription">题目描述</div>
						<div class="problem-info optionA">选项A</div>
						<div class="problem-info optionB">选项B</div>
						<div class="problem-info optionC">选项C</div>
						<div class="problem-info optionD">选项D</div>
						<div class="problem-info answer">答案</div>
					</div>					
				</div>
				<div class="add-btn">添 加 题 目</div>
				<div class="edit-board">
					<div class="edit-item">
						<p>类型</p>
						<input type="text" name="category">
					</div>
					<div class="edit-item">
						<p>题目描述</p>
						<input type="text" name="discription">
					</div>
					<div class="edit-item">
						<p>选项A</p>
						<input type="text" name="optionA">
					</div>
					<div class="edit-item">
						<p>选项B</p>
						<input type="text" name="optionB">
					</div>
					<div class="edit-item">
						<p>选项C</p>
						<input type="text" name="optionC">
					</div>
					<div class="edit-item">
						<p>选项D</p>
						<input type="text" name="optionD">
					</div>
					<div class="edit-item">
						<p>答案</p>
						<input type="text"  name="answer">
					</div>
					<!--<div class="sure-btn">编辑</div>-->
				</div>
			</div>
		</div>

		<div class="foot">
			<div class="foot-left">
				<img src="http://localhost:8080/answer/resources/img/common/logo2.png">
				<h4>光华园|GHY.CN</h4>
			</div>
		</div>
		<script type="text/javascript" src="http://localhost:8080/answer/resources/script/adminpage.js"></script>
</body>
</html>