<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>请回答2017</title>
<link rel="stylesheet" href="http://localhost:8080/answer/resources/css/reset.css">
<link rel="stylesheet" href="http://localhost:8080/answer/resources/css/bootstrap.min.css">
<link rel="stylesheet" href="http://localhost:8080/answer/resources/css/answer.css">
<script type="text/javascript" src="http://localhost:8080/answer/resources/script/jquery-3.2.1.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="nav-head m">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="logo" href=""> <img src="http://localhost:8080/answer/resources/img/common/logo.png">
				</a> <a class="navbar-brand" href="#">GHY.CN</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav">
					<li><a href="http://www.ghy.cn/swufenews/">新闻</a></li>
					<li><a href="http://www.ghy.cn/idea08/">思想</a></li>
					<li><a href="http://www.ghy.cn/study09/">学习</a></li>
					<li><a href="http://www.ghy.cn/life/">生活</a></li>
					<li><a href="http://www.ghy.cn/lit08/">文苑</a></li>
					<li><a href="http://www.ghy.cn/music09/">音乐</a></li>
					<li><a href="http://www.ghy.cn/movie11/">电影</a></li>
					<li><a href="http://soft.ghy.cn/">软件</a></li>
					<li><a href="http://bbs.ghy.cn/">草堂茗香</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="img-holder">
		<a href="answer-mobile.html" class="jump">
			<p>手机用户点我点我</p>
		</a>
	</div>

	<div class="panel-holder">
		<div class="block-title">
			<div class="title-item left" id="">
				<img src="http://localhost:8080/answer/resources/img/common/rules.png"> <a href="index.html">赛制介绍</a>
				<div class="sanjiao"></div>
			</div>
			<div class="title-item middle" id="">
				<img src="http://localhost:8080/answer/resources/img/common/players.png"> <a href="#">选手风采</a>
			</div>
			<div class="title-item right onshow" id="">
				<img src="http://localhost:8080/answer/resources/img/common/answer.png"> <a href="#">放我答题！</a>
			</div>
		</div>

		<div class="content-holder">
			<div class="instruction-holder">
				<div class="brief-title">
					<img src="http://localhost:8080/answer/resources/img/common/answer.png"> 放我答题！
				</div>
				<div class="instruction">
					<p>5分钟，30题，多次答题以最优成绩排名</p>
					<p>我有一个问题，你敢回答吗</p>
				</div>
				<a href="login.html" class="chanllenge"><p>接受挑战</p></a>
			</div>
		</div>

		<div class="rank-holder">
			<img src="http://localhost:8080/answer/resources/img/common/rank.png" alt="" class="rank-title">
			<div class="line-title">
				<div class="line-item" id="rank">排名</div>
				<div class="line-item" id="player">选手</div>
				<div class="line-item" id="accuracy">正确率</div>
				<div class="line-item" id="time">用时</div>
			</div>
			<img src="http://localhost:8080/answer/resources/img/common/cut.png" alt="" class="cut-line">
			<div class="line-title" id="top1">
				<div class="line-item rank">NO.1</div>
				<div class="line-item player">刘唱唱41510060</div>
				<div class="line-item accuracy">暂无</div>
				<div class="line-item time">暂无</div>
			</div>
			<div class="line-title" id="top2">
				<div class="line-item rank">NO.2</div>
				<div class="line-item player">暂无</div>
				<div class="line-item accuracy">暂无</div>
				<div class="line-item time">暂无</div>
			</div>
			<div class="line-title" id="top3">
				<div class="line-item rank">NO.3</div>
				<div class="line-item player">暂无</div>
				<div class="line-item accuracy">暂无</div>
				<div class="line-item time">暂无</div>
			</div>
			<div class="line-title line-back" id="white">
				<div class="line-item rank">NO.4</div>
				<div class="line-item player">暂无</div>
				<div class="line-item accuracy">暂无</div>
				<div class="line-item time">暂无</div>
			</div>
			<div class="line-title">
				<div class="line-item rank">NO.5</div>
				<div class="line-item player">暂无</div>
				<div class="line-item accuracy">暂无</div>
				<div class="line-item time">暂无</div>
			</div>
			<div class="line-title line-back" id="white">
				<div class="line-item rank">NO.6</div>
				<div class="line-item player">暂无</div>
				<div class="line-item accuracy">暂无</div>
				<div class="line-item time">暂无</div>
			</div>
			<div class="line-title">
				<div class="line-item rank">NO.7</div>
				<div class="line-item player">暂无</div>
				<div class="line-item accuracy">暂无</div>
				<div class="line-item time">暂无</div>
			</div>
			<div class="line-title line-back" id="white">
				<div class="line-item rank">NO.8</div>
				<div class="line-item player">暂无</div>
				<div class="line-item accuracy">暂无</div>
				<div class="line-item time">暂无</div>
			</div>
			<div class="line-title">
				<div class="line-item rank">NO.9</div>
				<div class="line-item player">暂无</div>
				<div class="line-item accuracy">暂无</div>
				<div class="line-item time">暂无</div>
			</div>
			<div class="line-title line-back" id="white">
				<div class="line-item rank">NO.10</div>
				<div class="line-item player">暂无</div>
				<div class="line-item accuracy">暂无</div>
				<div class="line-item time">暂无</div>
			</div>
		</div>
		<div class="foot">
			<div class="foot-left">
				<img src="http://localhost:8080/answer/resources/img/common/logo2.png">
				<h4>光华园|GHY.CN</h4>
			</div>
			<div class="foot-right">
				<h5 style="text-align: right;">
					Copyright 2001-2017 GHY.cn All rights reserved. 蜀ICP备07004602号<br>
					西南财经大学党委宣传统战部 前进动力工作室 TEL:028—87092700
				</h5>
			</div>
		</div>
		<script type="text/javascript" src="http://localhost:8080/answer/resources/script/showTop10.js"></script>
</body>
</html>