<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>请回答2017</title>
<link rel="stylesheet" href="css\reset.css">
<link rel="stylesheet" href="css\bootstrap.min.css">
<link rel="stylesheet" href="css\answer-mobile.css">
</head>
<body>
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="nav-head m">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="logo" href=""> <img src="img/common/logo.png">
				</a> <a class="navbar-brand" href="#">GHY.CN</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav">
					<li><a href="http://www.ghy.cn/swufenews/">新闻</a></li>
					<li><a href="http://www.ghy.cn/idea08/">思想</a></li>
					<li><a href="http://www.ghy.cn/study09/">学习</a></li>
					<li><a href="http://www.ghy.cn/life/">生活</a></li>
					<li><a href="http://www.ghy.cn/lit08/">文苑</a></li>
					<li><a href="http://www.ghy.cn/music09/">音乐</a></li>
					<li><a href="http://www.ghy.cn/movie11/">电影</a></li>
					<li><a href="http://soft.ghy.cn/">软件</a></li>
					<li><a href="http://bbs.ghy.cn/">草堂茗香</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<img src="img/common/indeximg.jpg" alt="" class="img-holder">

	<div class="panel-holder">
		<div class="block-title">
			<div class="title-item left" id="">
				<img src="img/common/rules.png"> <a href="index-mobile">赛制介绍</a>
				<div class="sanjiao"></div>
			</div>
			<div class="title-item middle" id="">
				<img src="img/common/players.png"> <a href="#">选手风采</a>
			</div>
			<div class="title-item right onshow" id="">
				<img src="img/common/answer.png"> <a href="#">放我答题！</a>
			</div>
		</div>

		<div class="content-holder">
			<div class="instruction-holder">
				<div class="brief-title">
					<img src="img/common/answer.png"> 放我答题！
				</div>
				<div class="instruction">
					<p>5分钟，30题，多次答题以最优成绩排名</p>
					<p>我有一个问题，你敢回答吗</p>
				</div>
				<a href="login-mobile.html" class="chanllenge"><p>接受挑战</p></a>
			</div>
		</div>

		<div class="rank-holder">
			<img src="img/common/rank.png" alt="" class="rank-title">
			<div class="line-title">
				<div class="line-item rank">排名</div>
				<div class="line-item player">选手</div>
				<div class="line-item accuracy">正确率</div>
				<div class="line-item time">用时</div>
			</div>
			<img src="img/common/cut.png" alt="" class="cut-line">
			<div class="line-title" id="top1">
				<div class="line-item rank">NO.1</div>
				<div class="line-item player">选手</div>
				<div class="line-item accuracy">正确率</div>
				<div class="line-item time">用时</div>
			</div>
			<div class="line-title" id="top2">
				<div class="line-item rank">NO.2</div>
				<div class="line-item player">选手</div>
				<div class="line-item accuracy">正确率</div>
				<div class="line-item time">用时</div>
			</div>
			<div class="line-title" id="top3">
				<div class="line-item rank">NO.3</div>
				<div class="line-item player">选手</div>
				<div class="line-item accuracy">正确率</div>
				<div class="line-item time">用时</div>
			</div>
			<div class="line-title line-back" id="white">
				<div class="line-item rank">NO.4</div>
				<div class="line-item player">选手</div>
				<div class="line-item accuracy">正确率</div>
				<div class="line-item time">用时</div>
			</div>
			<div class="line-title">
				<div class="line-item rank">NO.5</div>
				<div class="line-item player">选手</div>
				<div class="line-item accuracy">正确率</div>
				<div class="line-item time">用时</div>
			</div>
			<div class="line-title line-back" id="white">
				<div class="line-item rank">NO.6</div>
				<div class="line-item player">选手</div>
				<div class="line-item accuracy">正确率</div>
				<div class="line-item time">用时</div>
			</div>
			<div class="line-title">
				<div class="line-item rank">NO.7</div>
				<div class="line-item player">选手</div>
				<div class="line-item accuracy">正确率</div>
				<div class="line-item time">用时</div>
			</div>
			<div class="line-title line-back" id="white">
				<div class="line-item rank">NO.8</div>
				<div class="line-item player">选手</div>
				<div class="line-item accuracy">正确率</div>
				<div class="line-item time">用时</div>
			</div>
			<div class="line-title">
				<div class="line-item rank">NO.9</div>
				<div class="line-item player">选手</div>
				<div class="line-item accuracy">正确率</div>
				<div class="line-item time">用时</div>
			</div>
			<div class="line-title line-back" id="white">
				<div class="line-item rank">NO.10</div>
				<div class="line-item player">选手</div>
				<div class="line-item accuracy">正确率</div>
				<div class="line-item time">用时</div>
			</div>
		</div>
		<div class="foot">
			<div class="foot-left">
				<img src="img/common/logo2.png">
				<h4>光华园|GHY.CN</h4>
			</div>
			<div class="foot-right">
				<h5 style="text-align: right;">
					Copyright 2001-2017 GHY.cn All rights reserved. <br>蜀ICP备07004602号<br>
					西南财经大学党委宣传统战部 前进动力工作室 <br>TEL:028—87092700
				</h5>
			</div>
		</div>
</body>
</html>