<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>请回答2017</title>
<link rel="stylesheet" href="css\reset.css">
<link rel="stylesheet" href="css\bootstrap.min.css">
<link rel="stylesheet" href="css\problem-mobile.css">
</head>
<body>
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="nav-head m">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="logo" href=""> <img src="img/common/logo.png">
				</a> <a class="navbar-brand" href="#">GHY.CN</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav">
					<li><a href="http://www.ghy.cn/swufenews/">新闻</a></li>
					<li><a href="http://www.ghy.cn/idea08/">思想</a></li>
					<li><a href="http://www.ghy.cn/study09/">学习</a></li>
					<li><a href="http://www.ghy.cn/life/">生活</a></li>
					<li><a href="http://www.ghy.cn/lit08/">文苑</a></li>
					<li><a href="http://www.ghy.cn/music09/">音乐</a></li>
					<li><a href="http://www.ghy.cn/movie11/">电影</a></li>
					<li><a href="http://soft.ghy.cn/">软件</a></li>
					<li><a href="http://bbs.ghy.cn/">草堂茗香</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<img src="img/common/headimg.jpg" alt="" class="img-holder">

	<div class="panel-holder">
		<div class="content-holder">
			<div class="brief-title">
				<img src="img/common/answer.png"> 放我答题！
			</div>
			<div class="problem-holder">
				<div class="control-holder">
					<div class="control-item time-holder">
						<div class="time-box" id="timeBox">
							<div class="timeIndex" id="timer_minute" data-index="5"></div>
							<div class="timeIndex" id="dot"></div>
							<div class="timeIndex" id="timer_second_01" data-index="0"></div>
							<div class="timeIndex" id="timer_second_02" data-index="0"></div>
						</div>
					</div>
					<div class="control-item submit-btn">
						<button id="finish">
							<a href="result-mobile.html">提交</a>
						</button>
					</div>
				</div>
				<div class="question-board">
					<div class="question que-onshow" ques-index="1" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="2" ques-id="">
						<p class="ques-title">2、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="3" ques-id="">
						<p class="ques-title">3、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="4" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="5" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="6" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="7" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="8" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="9" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="10" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="11" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="12" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="13" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="14" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="1">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="2">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="3">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="4">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="15" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question que-onshow" ques-index="16" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="17" ques-id="">
						<p class="ques-title">2、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="18" ques-id="">
						<p class="ques-title">3、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="19" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="20" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="21" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="22" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="23" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="24" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="25" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="26" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="27" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="28" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="29" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="1">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="2">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="3">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="4">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
					<div class="question" ques-index="30" ques-id="">
						<p class="ques-title">1、 被称为“世界第一运动”的是什么运动?</p>
						<div class="answer" answer-inde="A">
							<div class="btnn answer-off">A</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="B">
							<div class="btnn answer-off">B</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="C">
							<div class="btnn answer-off">C</div>
							<p>足球</p>
						</div>
						<div class="answer" answer-inde="D">
							<div class="btnn answer-off">D</div>
							<p>足球</p>
						</div>
					</div>
				</div>
				<div class="choose-que">
					<div class="item" id="prev"><<</div>
					<div class="number-box">
						<div class="item number number-onshow">1</div>
						<div class="item number">2</div>
						<div class="item number">3</div>
						<div class="item number">4</div>
						<div class="item number">5</div>
						<div class="item number">6</div>
						<div class="item number">7</div>
						<div class="item number">8</div>
						<div class="item number">9</div>
						<div class="item number">10</div>
						<div class="item number">11</div>
						<div class="item number">12</div>
						<div class="item number">13</div>
						<div class="item number">14</div>
						<div class="item number">15</div>
						<div class="item number">16</div>
						<div class="item number">17</div>
						<div class="item number">18</div>
						<div class="item number">19</div>
						<div class="item number">20</div>
						<div class="item number">21</div>
						<div class="item number">22</div>
						<div class="item number">23</div>
						<div class="item number">24</div>
						<div class="item number">25</div>
						<div class="item number">26</div>
						<div class="item number">27</div>
						<div class="item number">28</div>
						<div class="item number">29</div>
						<div class="item number">30</div>
					</div>
					<div class="item" id="next">>></div>
				</div>
			</div>
		</div>
	</div>
	<div class="foot">
		<div class="foot-left">
			<img src="img/common/logo2.png">
			<h4>光华园|GHY.CN</h4>
		</div>
		<div class="foot-right">
			<h5 style="text-align: right;">
				Copyright 2001-2017 GHY.cn All rights reserved.<br>
				蜀ICP备07004602号<br> 西南财经大学党委宣传统战部 前进动力工作室<br>
				TEL:028—87092700
			</h5>
		</div>
	</div>
	<script type="text/javascript" src="script/recordTime.js"></script>
	<script type="text/javascript" src="script/shwoQues.js"></script>
</body>
</html>