<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>请回答2017</title>
<link rel="stylesheet" href="http://localhost:8080/answer/resources/css/reset.css">
<link rel="stylesheet" href="http://localhost:8080/answer/resources/css/bootstrap.min.css">
<link rel="stylesheet" href="http://localhost:8080/answer/resources/css/problem.css">
</head>
<body>
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="nav-head m">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="logo" href=""> <img src="http://localhost:8080/answer/resources/img/common/logo.png">
				</a> <a class="navbar-brand" href="#">GHY.CN</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav">
					<li><a href="http://www.ghy.cn/swufenews/">新闻</a></li>
					<li><a href="http://www.ghy.cn/idea08/">思想</a></li>
					<li><a href="http://www.ghy.cn/study09/">学习</a></li>
					<li><a href="http://www.ghy.cn/life/">生活</a></li>
					<li><a href="http://www.ghy.cn/lit08/">文苑</a></li>
					<li><a href="http://www.ghy.cn/music09/">音乐</a></li>
					<li><a href="http://www.ghy.cn/movie11/">电影</a></li>
					<li><a href="http://soft.ghy.cn/">软件</a></li>
					<li><a href="http://bbs.ghy.cn/">草堂茗香</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="img-holder"></div>

	<div class="panel-holder">
		<div class="content-holder">
			<div class="brief-title">
				<img src="http://localhost:8080/answer/resources/img/common/answer.png"> 放我答题！
			</div>
			<div class="problem-holder">
				<div class="control-holder">
					<div class="control-item time-holder">
						<div class="time-box" id="timeBox">
							<div class="timeIndex" id="timer_minute" data-index="5"></div>
							<div class="timeIndex" id="dot"></div>
							<div class="timeIndex" id="timer_second_01" data-index="0"></div>
							<div class="timeIndex" id="timer_second_02" data-index="0"></div>
						</div>
					</div>
					<div class="control-item submit-btn">
						<button id="finish"><a href="result.html">提交</a></button>
					</div>
				</div>
				<div class="question-board">
				</div>
				<div class="choose-que">
					<div class="item" id="prev"><<</div>
					<div class="number-box">
					</div>
					<div class="item" id="next">>></div>
				</div>
			</div>
		</div>
	</div>
	<div class="foot">
		<div class="foot-left">
			<img src="http://localhost:8080/answer/resources/img/common/logo2.png">
			<h4>光华园|GHY.CN</h4>
		</div>
		<div class="foot-right">
			<h5 style="text-align: right;">
				Copyright 2001-2017 GHY.cn All rights reserved. 蜀ICP备07004602号<br>
				西南财经大学党委宣传统战部 前进动力工作室 TEL:028—87092700
			</h5>
		</div>
	</div>
	<script type="text/javascript" src="http://localhost:8080/answer/resources/script/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="http://localhost:8080/answer/resources/script/jquery.cookie.js"></script>
	<script type="text/javascript" src="http://localhost:8080/answer/resources/script/recordTime.js"></script>
	<script type="text/javascript" src="http://localhost:8080/answer/resources/script/shwoQues.js"></script>
	<script type="text/javascript" src="http://localhost:8080/answer/resources/script/problem.js"></script>
</body>
</html>