<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" href="http://localhost:8080/answer/resources/css/register.css">
    <link href="http://localhost:8080/answer/resources/css/reset.css" rel="stylesheet" />
    <script type="text/javascript" src="http://localhost:8080/answer/resources/script/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="http://localhost:8080/answer/resources/script/jquery.cookie.js"></script>
</head>
<body>
    <img src="http://localhost:8080/answer/resources/img/common/back.jpg" alt="" class="img-holder">
    <div class="panel">
        <div class="info-holder">
            <div class="input-holder">
               学 号
                <input name="studentnumber" type="number" placeholder=" ">
            </div>
            <div class="input-holder">
               姓 名
                <input name="name" type="text" placeholder=" ">
            </div>
            <div class="input-holder">
                密 码
                <input name="password" type="password" max="20" placeholder=" ">
            </div>
            <div class="input-holder">
                联 系 方 式
                <input name="phone" type="text" max="11" placeholder=" ">
            </div>
        </div>
        <a class="btnn register-btn" href="login">注 册</a>
        <a class="btnn" href="answer.html">返 回</a>

    </div>
     <script>
        $(function () {
            $(".register-btn").click(function () {
                var sendData = {
                    name: $("input[name='name']").val(),
                    id: $("input[name='studentnumber']").val(),
                    phone: $("input[name='phone']").val(),
                    password: $("input[name='password']").val(),
                }

                $.ajax({
                    method: "POST",
                    url: "user/register",
                    contentType: "application/json",
                    data: JSON.stringify(sendData),
                    dataType: "json",
                    success: function (result) {
                        console.log(result);
                        if (result.successful) {
                            $.cookie("id",$("input[name='studentnumber']").val(),{path:'/',expires:1000});
                            $.cookie("pwd",$("input[name='password']").val(),{path:'/',expires:1000});
                            $(window).attr('location', 'login.html');
                        }
                    }

                });

            });
        });

    </script> 

</body>
</html>